# Python
backend/venv/
backend/instance/
__pycache__/
*.pyc
.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/local.properties

# IDE
.idea/
.vscode/
*.iml
